@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Source+Sans+Pro&display=swap');


*{
    margin: 0;
    padding: 0;
}


.sidenavbar{
    background-color: rgb(153, 150, 150);
    font-family: 'Fira Sans', sans-serif;
    width: 300x;
}

.sidenavbar nav{
    padding: 45px;
}

.sidenavbar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px  0px;
}

.sidenavbar nav li a{
    text-decoration: none;
    color: black;
}
/* navbar link hover */
.sidenavbar nav li a:hover{
    color: white;
}

.main{
    /* background-color: yellow; */
    display: flex;
    width: 90vw;
}

.container{
    display: flex;
    height: 100vh;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 0px;
}

.sidenavbargo{
    transform: translate(-263px,0px);
    position: absolute ;
}

.hamb{
    margin-left: 10px;
}

.cross{
    color: red;
    margin-left: 170px;
}

.contactform{
    padding: 100px;
    padding: 0 35px;
    font-family: 'Fira Sans', sans-serif;
}
.contactform h1{
    width: 100vw;
    /* background-color: aquamarine; */
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 16vw;
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px;
}

#emailHelp{
    font-size: 10px;
    color: rosybrown;
    margin: 0 4px;
}

#form-check{
    flex-direction: row;
}
#form-check input{
    width: 25px;
    margin: 3px 0;
}


button{
    padding: 7px 10px;
    border-radius: 20px;
    color: silver;
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    margin:  0 3px;
    cursor: pointer;
}

button:hover{
    color: black;
    background-color: whitesmoke;
}