@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Source+Sans+Pro&display=swap');


*{
    margin: 0;
    padding: 0;
}





.sidenavbar{
    background-color: rgb(153, 150, 150);
    font-family: 'Fira Sans', sans-serif;
    /* width: 300x; */
    height: 100vh;
    /* do experiment here with ease in */
    /* position: absolute; */
    transition: transform 0.3s ease-in;
}

.sidenavbar nav{
    padding: 45px;
}

.sidenavbar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px  0px;
}

.sidenavbar nav li a{
    text-decoration: none;
    color: black;
}
/* navbar link hover */
.sidenavbar nav li a:hover{
    color: white;
}

.main{
    /* background-color: yellow; */
    display: flex;
    width: 90vw;
}

.container{
    display: flex;
    height: 100vh;
}

.infocontainer{
    height: 58vh;
    width: 75vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devpic img{
    height: 58vh;
}

.devinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.hello{
    font-size: 55px;
}

.name{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.about{
    font-size: 30px;
}

.moreabout{
    margin-top: 20px;
}

.buttons{
    margin-top: 34px;
}

.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    color: silver;
    background-color: black;
    font-weight: bold;
    font-size: 21px;
    margin:  0 3px;
    cursor: pointer;
}

.buttons button:hover{
    color: black;
    background-color: whitesmoke;
}

.sidenavbargo{
        transform: translate(-263px,0px);
        position: absolute ;
    }

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 0px;
}

.hamb{
    margin-left: 10px;
}

.cross{
    margin-left: 195px;
}

@media (max-width:1025px) {
    *{
        background-color: aqua;
    }
    .devpic{
        display: none;
    }
    /* .sidenavbar{
        transform: translate(-443px,0px);
        position: absolute ;
    } */
}